In [1]:
import pandas as pd
import numpy as np

In [2]:
data=pd.read_csv('Data/retail_store_sales.csv')
product=pd.read_csv('Data/Product_master.csv')

In [3]:
data.head()

,Transaction ID,Customer ID,Category,Item,Price Per Unit,Quantity,Total Spent,Payment Method,Location,Transaction Date,Discount Applied
0,TXN_6867343,CUST_09,Patisserie,Item_10_PAT,18.5,10.0,185.0,Digital Wallet,Online,2024-04-08,True
1,TXN_3731986,CUST_22,Milk Products,Item_17_MILK,29.0,9.0,261.0,Digital Wallet,Online,2023-07-23,True
2,TXN_9303719,CUST_02,Butchers,Item_12_BUT,21.5,2.0,43.0,Credit Card,Online,2022-10-05,False
3,TXN_9458126,CUST_06,Beverages,Item_16_BEV,27.5,9.0,247.5,Credit Card,Online,2022-05-07,NaN
4,TXN_4575373,CUST_05,Food,Item_6_FOOD,12.5,7.0,87.5,Digital Wallet,Online,2022-10-02,False

In [4]:
product.head(5)

                            Beverages   Item_1_BEV  5.00
0                            Butchers   Item_1_BUT   5.0
1  Computers and electric accessories   Item_1_CEA   5.0
2       Electric household essentials   Item_1_EHE   5.0
3                                Food  Item_1_FOOD   5.0
4                           Furniture   Item_1_FUR   5.0

In [5]:
data.shape

(12575, 11)

### Transaction ID Coloumn

In [6]:
data['Transaction ID'].isnull().sum()

0

In [7]:
data['Transaction ID'].unique().shape

(12575,)

### Customer ID Coloumn

In [8]:
data['Customer ID'].isnull().sum()

0

In [9]:
data['Customer ID'].is_unique

False

In [10]:
data['Customer ID'].duplicated()

0        False
1        False
2        False
3        False
4        False
         ...
12570     True
12571     True
12572     True
12573     True
12574     True
Name: Customer ID, Length: 12575, dtype: bool

In [11]:
data['Customer ID'].shape

(12575,)

### Category Coloumn

In [12]:
data['Category'].unique()

array(['Patisserie', 'Milk Products', 'Butchers', 'Beverages', 'Food',
       'Furniture', 'Electric household essentials',
       'Computers and electric accessories'], dtype=object)

In [13]:
data['Category'].isnull().sum()

0

### Price per unit Coloumn

In [14]:
mask = (
    ((data['Price Per Unit'].isna()) | (data['Price Per Unit'] == 0)) & 
    (data['Quantity'] != 0)
)

In [15]:
data.loc[mask, 'Price Per Unit'] = data.loc[mask, 'Total Spent'] / data.loc[mask, 'Quantity']

### Item Column

In [16]:
data['Item'].isnull().sum()

1213

In [17]:
merged_data = pd.merge(
    data,
    product,
    left_on=['Category', 'Price Per Unit'],  
    right_on=['Beverages', '5.00'],         
    how='left'                              
)

In [19]:
merged_data=merged_data.drop(columns=['Item','Beverages','5.00'])

In [23]:
merged_data = merged_data.rename(columns={'Item_1_BEV': 'Item'})

In [24]:
merged_data.head(10)

,Transaction ID,Customer ID,Category,Price Per Unit,Quantity,Total Spent,Payment Method,Location,Transaction Date,Discount Applied,Item
0,TXN_6867343,CUST_09,Patisserie,18.5,10.0,185.0,Digital Wallet,Online,2024-04-08,True,Item_10_PAT
1,TXN_3731986,CUST_22,Milk Products,29.0,9.0,261.0,Digital Wallet,Online,2023-07-23,True,Item_17_MILK
2,TXN_9303719,CUST_02,Butchers,21.5,2.0,43.0,Credit Card,Online,2022-10-05,False,Item_12_BUT
3,TXN_9458126,CUST_06,Beverages,27.5,9.0,247.5,Credit Card,Online,2022-05-07,NaN,Item_16_BEV
4,TXN_4575373,CUST_05,Food,12.5,7.0,87.5,Digital Wallet,Online,2022-10-02,False,Item_6_FOOD
5,TXN_7482416,CUST_09,Patisserie,20.0,10.0,200.0,Credit Card,Online,2023-11-30,NaN,Item_11_PAT
6,TXN_3652209,CUST_07,Food,5.0,8.0,40.0,Credit Card,In-store,2023-06-10,True,Item_1_FOOD
7,TXN_1372952,CUST_21,Furniture,33.5,NaN,NaN,Digital Wallet,In-store,2024-04-02,True,Item_20_FUR
8,TXN_9728486,CUST_23,Furniture,27.5,1.0,27.5,Credit Card,In-store,2023-04-26,False,Item_16_FUR
9,TXN_2722661,CUST_25,Butchers,36.5,3.0,109.5,Cash,Online,2024-03-14,False,Item_22_BUT

In [26]:
merged_data['Status'] = np.where(merged_data['Discount Applied'].isnull(), 'Invalid', 'Valid')

In [27]:
merged_data=merged_data.fillna('unknown')

In [28]:
merged_data.head(10)

,Transaction ID,Customer ID,Category,Price Per Unit,Quantity,Total Spent,Payment Method,Location,Transaction Date,Discount Applied,Item,Status
0,TXN_6867343,CUST_09,Patisserie,18.5,10.0,185.0,Digital Wallet,Online,2024-04-08,True,Item_10_PAT,Valid
1,TXN_3731986,CUST_22,Milk Products,29.0,9.0,261.0,Digital Wallet,Online,2023-07-23,True,Item_17_MILK,Valid
2,TXN_9303719,CUST_02,Butchers,21.5,2.0,43.0,Credit Card,Online,2022-10-05,False,Item_12_BUT,Valid
3,TXN_9458126,CUST_06,Beverages,27.5,9.0,247.5,Credit Card,Online,2022-05-07,unknown,Item_16_BEV,Invalid
4,TXN_4575373,CUST_05,Food,12.5,7.0,87.5,Digital Wallet,Online,2022-10-02,False,Item_6_FOOD,Valid
5,TXN_7482416,CUST_09,Patisserie,20.0,10.0,200.0,Credit Card,Online,2023-11-30,unknown,Item_11_PAT,Invalid
6,TXN_3652209,CUST_07,Food,5.0,8.0,40.0,Credit Card,In-store,2023-06-10,True,Item_1_FOOD,Valid
7,TXN_1372952,CUST_21,Furniture,33.5,unknown,unknown,Digital Wallet,In-store,2024-04-02,True,Item_20_FUR,Valid
8,TXN_9728486,CUST_23,Furniture,27.5,1.0,27.5,Credit Card,In-store,2023-04-26,False,Item_16_FUR,Valid
9,TXN_2722661,CUST_25,Butchers,36.5,3.0,109.5,Cash,Online,2024-03-14,False,Item_22_BUT,Valid

In [29]:
merged_data.to_csv('Data/Cleaned-Data')